<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FeatureExtractor/src/de/uni/hamburg/swk/extractor/startup/StartUp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.uni.hamburg.swk.extractor.startup.StartUp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--mode management -i --output /home/tobias/Downloads/nn/tree.tex"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FeatureExtractor"/>
</launchConfiguration>
